#intro {
  background-image: url(../assets/images/Background_Intro.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
}

header {
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 680px;
  margin-inline: 163px;
}

#user-info {
  margin-block: 120px 56px;
  margin-inline: auto ;
  width: 112px;
  aspect-ratio: 1/1;
  position: relative;
  
  #tag-code {
    right: 0;
    bottom: 0;
    z-index: 2;
    position: absolute;
  }
  
  #user-photo {
    display: flex; 
    position: absolute;
    z-index: 1;
    justify-self: center;
    align-items: center;
  }
  
  #user-photo img {
    padding: 4.36px;
    border: 2px solid var(--red-principal);
    border-radius: 50%;
  }
}

#texts h1 {
  margin-block: 8px 20px;
}

#texts span {
  color: var(--red-principal);
}

#tags {
  justify-content: center;
  margin-top: 80px;
  font: var(--text-md);
  color: var(--base-gray-200);
  margin-inline: 143px;
  
  div {
    padding: 8px 16px;
    gap: 8px;
    display: flex;
    background-color: var(--base-gray-400);
    border-radius: 999px;
    justify-content: center;
    text-align: center;
  }
}

#ArrowDown {
  text-align: center;
  margin-block: 94px 57px;
}