main {
  text-align: center;
  flex-direction: column;
  margin-block: 72px 144px;
  min-width: 1366px;

  h4 {
    color: var(--red-principal);
    margin-bottom: 8px;
  }

}

#cards {
  grid-area: cards;

  a{
    text-decoration: none;
  }
  
  & > div {
    gap: 24px;
    max-width: 1040px;
    margin-bottom: 144px;
  }
  .card {
    border: 1.5px solid var(--base-gray-400);
    width: 328.5px;
    height: 278.5px;
    border-radius: 12px;
    background-color: var(--base-gray-400);
    text-align: start;
    padding: 12px 12px 17px 12px;

    img {
      object-fit: contain;
      overflow: hidden;
      border-radius: 8px;
    }
  }

  .card:hover {
    border-radius: 12px;
    border: 1.5px solid var(--base-gray-300);
  }
}

#cards header {
  margin-bottom: 56px;
}


